.test {
    color: #A6DD87;
    color: #404040;
    color: #DDDDDD;
    color: #FFFFFF;
    color: #404040;
    color: #008AFF;
    color: #0085A1;
    color: #EAEAEA;
    color: #777777;
    color: #404040;
}