* {
  box-sizing: border-box;
}

body {
  background-color: rgb(209, 239, 245);
}

p {
  text-align: justify;
}

ul {
  text-align: justify;
}

marker {
  background-color: rgb(0, 4, 255);
  color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column2 {
  flex: 50%;
  padding: 5px;
  /* height: 300px; */
  /* Should be removed. Only for demonstration */
}

.embed-youtube {
  position: relative;
  padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
  /* padding-bottom: 62.5%; - 16:10 aspect ratio */
  /* padding-bottom: 75%; - 4:3 aspect ratio */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}